<!DOCTYPE html>
<html lang="en"></html>
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
        <header>
            <h1>Minor Web Development Enquete</h1>
        </header>
        <main>
            <form action="/css" method="POST">
                <fieldset>
                    <legend>Studentgegevens:</legend>
                    <br>
                    <label for="name" >Naam: </label>
                    <br>
                    <input type="text" id='name' name='name' value="<%= Home ? Home.name : '' %>" required>
                    <br> <br>
                    <label for="studentNmbr" >Studentnummer:</label>
                    <br>
                    <input type="text" id='studentNmbr' name='studentNmbr' value="<%= Home ? Home.studentNmbr : '' %>" required>
                    <br> <br>
                    <button type="submit">Volgende</button> 
                </fieldset>
                <br>
                <br>
            </form>
        </main>
	</body>
</html>