<!DOCTYPE html>
<html lang="en"></html>
	<head>
		<%- include('./layout/head'); %>
        <%- include('layout/header'); %>
	</head>

	<body>
     
        <main>
            <p>Deze enquete is bedoeld voor studenten die de minor Web Development aan het volgen zijn. Per, tot nu toe, behandeld vak worden er een aantal vragen gesteld en aan jou de taak om deze vragen naar waarheid in te vullen.</p>
            <p>1/5</p>
            <form action="/css" method="POST">
                <fieldset>
                    <legend>Studentgegevens:</legend>
                    <br>
                    <label for="name" >Naam*</label>
                    <br>
                    <input type="text" id='name' name='name'  value="<%= Home ? Home.name : '' %>" minlength="2" >
                    <br> <br>
                    <label for="studentNmbr" >Studentennummer*</label>
                    <br>
                    <input type="text" id='studentNmbr' name='studentNmbr' required  minlength="9" maxlength="9" value="<%= Home ? Home.studentNmbr : '' %>" >
                    <br> <br>
                    <button type="submit" id="button" >Volgende</button> 
                </fieldset>
                <br>
                <br>
            </form>
        </main>
	</body>
 
</html>