<!DOCTYPE html>
<html lang="en"></html>
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
       <main>
           <article>
               <p>De enquete is succesvol verzonden!</p>
           </article>
       </main>
    
	</body>
</html>