<!DOCTYPE html>
<html lang="en"></html>
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
        <%- include('layout/header'); %>
       <main>
           <article>
            <p><span>&#10003;</span></p>
               <p>De enquete is succesvol opgeslagen! </p>
           </article>
           <h2>Wil je nog wijzigingen aanbrengen?</h2>
           <section class="links">
           <a href="/" class="redirect">Student gegevens</a>
           <a href="/css" class="redirect">CSS to the rescue</a>
           <a href="/WAFS" class="redirect">Web app from scratch</a>
           <a href="/PWA" class="redirect">Progressive web apps</a>
           <a href="/BT" class="redirect">Browser technologies</a>
        </section>
       </main>
    
	</body>
</html>